html[color-mode="ocean"] {
  --bg: var(--ocean-0);
  --text-color: var(--red-0);
  --btn-color: var(--green-0);
  --btn-color-active: var(--green-1);
  --title-color: var(--red-1);
  --switch-ball: var(--black);
}